/*
* @Author: Drinkee
* @Date:   2017-07-19 11:45:55
 * @Last Modified by: Drinkee
 * @Last Modified time: 2018-10-29 11:17:11
*/
$green: #5DC3B1;
$deep-green: #1d7d71;
$gray : #6c6b6b;
.resume-page{
	display: flex;
	margin: 50px auto;
	width: 1050px;
	height: 100%;
	background: #fff;
	box-shadow: 0 0 15px #c0c0c0;
	.underline {
		text-decoration: underline;
	}
	.content-left{
		position: relative;
		flex: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 40px 25px 40px 25px;
		color: #fff;
		background: #5DC3B1;
		.avatar{
			padding: 40px 0 5px 0;
			overflow: auto;
			img{
				margin: 0 auto;
				width: 200px;
				height: 200px;
				border-radius: 50%;
			}
			.name{
				padding: 10px 0;
				text-align: center;
				border-bottom: 3px solid #1F8073;
				h1{
					font-size: 38px;
				}
			}
		}
		.intro{
			text-align: center;
			.line-txt{
				color: #1D7D71;
			}
			.duty{
				padding: 5px 0;
				border-bottom: 1px solid #1d7d71;
				color: #1f8073;
				font-weight: bold;
			}
		}
		.edu {
			margin-bottom: 30px;
			line-height: 30px;
			font-weight: bold;
			.title {
				color: $deep-green;
				line-height: 40px;
			}
		}
		.skill-list{
			padding: 40px 0;
			color: #fff;
			font-weight: bold;
			font-size: 16px;
			.item{
				display: flex;
				margin-bottom: 15px;
				justify-content: flex-end;
				line-height: 18px;
				.skill-title{
					padding-right: 10px;
					text-align: right;
				}
				.level-box{
					width: 180px;
					height: 18px;
					background: #3EB79F;
					overflow: hidden;
					border-radius: 15px;
					.in{
						display: block;
						height: 18px;
						background: #fff; 
					}
					.i-html{
						width: 150px;
					}
					.i-css{
						width: 140px;
					}
					.i-js,
					.i-jq,
					.i-zp{
						width: 135px;
					}
					.i-bt,
					.i-scss{
						width: 130px;
					}
					.i-vue{
						width: 80%;
					}
					.i-es6{
						width: 70%;
					}
					.i-webpack{
						width: 60%;
					}
				}
			}
		}
		.contact{
			// position: absolute;
			// bottom: 80px;
			// left: 40px;
			ul{
				li{
					line-height: 30px;
					font-size: 18px;
					// font-weight: bold;
					i.iconfont{
						font-size: 22px;
					}
				}
			}
		}
	}

	.content-right{
		flex: 6;
		padding: 20px;
		.item{
			padding-bottom: 15px;
			h1{
				color: $gray;
				font-size: 25px;
			}
			.section-bd{
				padding: 5px 0;
				.item-hd {
					.item-title{
						color: $green;
						font-size: 20px;
						font-weight: bold;
					}
					.item-tag{
						display: flex;
						align-items: center;
						float: right;
						line-height: 30px;
						.tag-bd{
							display: inline-block;
							padding: 0 10px;
							height: 20px;
							line-height: 20px;
							background: $green;
							color: #fff;
						}
						i.connect{
							font-weight: bold;
							color: $gray;
						}
					}
				}
				.item-bd{
					color: $gray;
					.item-time{
						margin-top: 5px;
						color: $green;
						font-weight: bold;
					}
				}
			}
			.seciton-list{
				margin-top: 20px;
				
			}
			.section-content{
				line-height: 1.5;
				margin-bottom: 8px;
				i.icon-dot{
					color: $green;
				}
			}
		}
	}
}
.print-btn{
	position: fixed;
	right: 20px;
	bottom: 20px;
	padding: 8px;
	cursor: pointer;
	background: $green;
	color: #fff;
	font-size: 16px;
	border-radius: 4px;
}