/*
* @Author: drinkeewu
* @Date:   2017-07-20 09:19:51
* @Last Modified by:   drinkeewu
* @Last Modified time: 2017-07-20 11:03:40
*/
@media print {
    .resume-page{
        margin: 0;
    }
    .print-btn{
    	display: none;
    }
}
@page{
	size: A4;
}
