/*
 * @Author: Drinkee 
 * @Date: 2020-02-07 17:39:35 
 * @Last Modified by: Drinkee
 * @Last Modified time: 2020-02-08 16:40:45
 */

 @media print {
   html,
   body {
     background: #fff;
   }
   .resume-page {
     margin: 0 !important;
   }
   .resume-aside {
     height: 2970px;
   }
   #pdf-button {
     display: none;
   }
   .comp-progress-bar {
     height: 10px !important;
     margin-bottom: 5px;
    }
    .comp-progress-list {
      /* display: none; */
    }
    .skill-level {
      padding-top: 50px;
    }
    #second-page-title {
      display: block !important;
    }
 }

 @page {
   size: A4;
 }